@tailwind base;
@tailwind components;
@tailwind utilities;

@import './portable-text.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overscroll-behavior: none;
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 57px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

h1,
h2 {
  line-height: 3.5rem;
}

h3,
h4 {
  line-height: 3rem;
}

p {
  line-height: 1.8rem;
}
